@model CoursesIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<ul>
    @foreach (var course in Model.Courses)
    {
        <li>
            <a asp-action="Details" asp-route-id="@course.Id">
                @course.Name
            </a>
        </li>
    }
</ul>

<a asp-action="Create">Create new course</a>